*.fastq
*.fastq.gz
*.fasta
*.fna
*.gff 
*.gf3 
*.info 
*.zip 
*.html
*.lib_data
*.seq
*.off
*.gz 
*.tar.gz 
*.tar 
*.gfa 
*.fastg
*_info
*.yaml
*.paths
*.log
stage_*
*.json
*.jsonl
*.tree

phytop_linux
.Rproj.user
*.nex
*.trees
concordance*
./trees/*